*{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins',  'Actor', 'Adamina';
}
 /* header styling */
header{
  background-image: url(/Assets/images/moving\ 1.png);
  background-size: cover;
  background-size: 100% 100%;
  height: 80vh;
  width: 100%;

  display: flex;
}

nav{
  display: inline-block;
  position: absolute;
  top: 2em;
  right: 10em;
  padding: 4px;
}

nav a{
  text-decoration: none;
  color: white;
  padding: 10px;
}

.change{
   width: 45%;
  margin-top: 12%; 
}

.change > p{
  color: rgba(255, 255, 255, 0.6);
}

.change > h1{
  color:#FAFF00 ;
  font-weight: 150;
}