*{
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', 'Actor', 'Adamina';
}

/* header styling */
header{
  height: 4em;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  background-color: black;
  padding: 1.5% 15% 0px 15%;
}

nav{
  
  background-color: black;
  padding: 2em 14em 2em 0em;
  
}

nav >ul >li {
  display: inline;
  float:right;
  padding: 0 49px;


}

.work-btn{
  float:right;
  margin-right:0px;
}

  


li, a{
  text-decoration: none;
  color: white;
}

.txt-left{
  width: 50%;
}

.txt-left > p{
  font-size: x-small;
}

.txt-right{
  width: 50%;
  text-align: right;
}

.txt-right > p{
  font-size: x-small;
}
sub{
  font-size: larger;
}

/* 1ST   section styling */

.container1{
  display: flex;

}

.grid-item1 {
 
  width: 40%; 
  margin-left: 15%;
}

.grid-item2{
 
  
  width: 30%;
  position: absolute;
  
  left: 75%;
  
}



.property-img{
  width: 500px;
 
}

input[type=text] {
  border: none;
  border-bottom: 2px solid rgba(0,0,0, 0.2);
}


/* container2 styling */
.container2{
  display:flex;
  padding-left: 14.5% ;
 
  width: 40%;
}

.imgs{
  padding: 0.5%;
}

.c-img{
  width: 70px;
  height: 70px;
}

.details {
  width: 50%;
  height: 30%;
 
  padding: 1em;
  margin-left: 15%;
}

/* container3 styling */


.container3{
  width: 100%;
  display: flex;
  
}


.description{
  margin-left: 15%;
  width: 40%;
  padding: 4px;
  
  justify-content: center;
}

.features>h2{
padding: 7px 0px;
margin-left: 15%;
}

/* container 4  styling */

.container4{
  display: flex;
 
  margin-left: 15%;
  width: 50%;
 }
 
 .container4 > .col1 >ul>li{
   color: black;
 }
 .col1{
   margin: 0 auto;
   padding:1em ;
 
 }
 
 .container4 > .col1 > ul>li{
   padding: 1em;
   
 }

 /* container5 styling */

.container5{
 
  width: 50%;
  margin-left: 15%;
}

.similar{
width: 200px;
height: 170px;
}

.listings{
  padding-right: 2em;
}

.similar-li{
  display: flex;
  flex-wrap: wrap;
  
}

.icons > i{
  padding-left: 7px;
} 

/* button styling */
.btn2{
  color: rgb(176, 179, 17);
  border: none;
  background-color: rgb(0, 0, 0);
  height: 40px;
  width: 120px;
}

.btn1{
  background-color: #FFAC12;
  color: rgb(255, 255, 255);
  border: none;
  height: 25px;
  width: 120px;
  border-top-right-radius: 8px;
  margin-left: 200px;
}


.footer-container{
  background-color: black;

}

.icons{
  font-size: 30px;
  
}

.row{
  display: flex;
  flex-wrap: wrap;
  
}

ul{
  list-style: none;
  color:  #FAFF00;
}
.footer{
  background-color:black;
  padding: 70px;

}

.footer-col{
  width:25%;
  color: white;
  padding-bottom: 1em;
}

.footer-h2{
  padding-top: 1rem;
  margin-left: 9em;
  color: white;
}

.btn1{
  float: right;
  /* margin :0 auto; */
}



.footer-col h4{
  color: white;
}
.footer-col>ul>li{
  color: #FFAC12;
}

span{
  color: #FFAC12;
}